/*  your css code here. If applicable */
body{
	 font-family: Arial, sans-serif;
	padding:0px;
	margin:0px:
	width:100vw;
	height:100vh;
	background-color:black;
	box-sizing:border-box;
	
}
#animal-photos{
      margin:50px;
	width:80%;
	height:100%;
	background-color:grey;
	
}
h1{
	text-align:center;
}
.photo{
	 padding:10px;
	
}
img{
	width:32%;
	border-radius:5px;

   
}